<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="pageKey" content="d_public_post_embed" />
    <!---->
    <meta name="locale" content="en_US" />
    <meta
      id="config"
      data-app-version="1.2.67"
      data-call-tree-id="AAYAnrTFMhFs9Ak54EDFEw=="
      data-multiproduct-name="feedcontent-guest-frontend"
      data-service-name="feedcontent-guest-frontend"
      data-browser-id="dbed509d-c61b-447e-8038-8ace5f2bcd74"
      data-enable-page-view-heartbeat-tracking
      data-page-instance="urn:li:page:d_public_post_embed;fvsove1wS8moU1cHMoTQHg=="
      data-disable-jsbeacon-pagekey-suffix="false"
      data-member-id="553755758"
      data-is-logged-in
    />

    <link
      rel="canonical"
      href="https://www.linkedin.com/feed/update/urn:li:activity:6898694773406875648"
    />
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <link
      rel="icon"
      href="https://static.licdn.com/aero-v1/sc/h/al2o9zrvru7aqj8e1x2rzsrca"
    />

    <script>
      function getDfd() {
        let yFn, nFn;
        const p = new Promise(function (y, n) {
          yFn = y;
          nFn = n;
        });
        p.resolve = yFn;
        p.reject = nFn;
        return p;
      }
      window.lazyloader = getDfd();
      window.tracking = getDfd();
      window.impressionTracking = getDfd();
      window.ingraphTracking = getDfd();
      window.appDetection = getDfd();
      window.pemTracking = getDfd();
    </script>

    <!---->

    <meta
      name="description"
      content="5 Discoveries the James Webb Telescope Will Make
https://bit.ly/3rKd1BL"
    />
    <meta
      name="twitter:description"
      content="5 Discoveries the James Webb Telescope Will Make
https://bit.ly/3rKd1BL"
    />
    <meta
      property="og:description"
      content="5 Discoveries the James Webb Telescope Will Make
https://bit.ly/3rKd1BL"
    />

    <meta
      property="og:title"
      content="Peter H. Diamandis on LinkedIn: 5 Discoveries the James Webb Telescope Will Make"
    />
    <meta
      name="twitter:title"
      content="Peter H. Diamandis on LinkedIn: 5 Discoveries the James Webb Telescope Will Make"
    />
    <title>
      Peter H. Diamandis on LinkedIn: 5 Discoveries the James Webb Telescope
      Will Make
    </title>

    <meta name="twitter:card" content="summary_large_image" />

    <meta name="robots" content="noarchive, noindex, max-image-preview:large" />
    <meta
      property="lnkd:url"
      content="https://www.linkedin.com/feed/update/urn:li:activity:6898694773406875648"
    />
    <meta property="og:type" content="article" />
    <meta
      property="og:url"
      content="https://www.linkedin.com/feed/update/urn:li:activity:6898694773406875648"
    />
    <meta
      property="og:image"
      content="https://media.licdn.com/dms/image/C5634AQEFkdtBs1JZyg/ugc-proxy-shrink_1280_800/0/1644777005723?e=1690138800&amp;v=beta&amp;t=PuqKQ5TWzJ44a4WJxjVmcqDyitVDQqzDPaxEvMHILgY"
    />
    <meta
      name="twitter:image"
      content="https://media.licdn.com/dms/image/C5634AQEFkdtBs1JZyg/ugc-proxy-shrink_1280_800/0/1644777005723?e=1690138800&amp;v=beta&amp;t=PuqKQ5TWzJ44a4WJxjVmcqDyitVDQqzDPaxEvMHILgY"
    />
    <meta name="twitter:site" content="@linkedin" />
    <!---->
    <link
      rel="stylesheet"
      href="https://static.licdn.com/aero-v1/sc/h/af6dsa3c772msdqiauzajg6ah"
    />

    <!---->
  </head>
  <body dir="ltr">
    <!----><!---->

    <div
      id="artdeco-global-alert-container"
      aria-live="assertive"
      role="alert"
      class="global-alert-banner"
    >
      <!---->
    </div>
    <div id="artdeco-global-alerts-cls-offset">
      <div
        class="artdeco-global-alert artdeco-global-alert--ERROR artdeco-global-alert--EMAIL_STATUS"
        alert-id="urn:li:alert:1726155402"
        aria-hidden="true"
        severity="ERROR"
        type="EMAIL_STATUS"
      >
        <section class="artdeco-global-alert__body">
          <li-icon class="artdeco-global-alert__icon">
            <!---->

            <span>
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                height="24"
                width="24"
              >
                <circle
                  r="9.1"
                  stroke-width="1.8"
                  cx="12"
                  cy="12"
                  fill="none"
                  stroke="#fff"
                  transform="rotate(-90 12 12)"
                ></circle>
                <path
                  d="M13.238,12l3.463,3.463L15.463,16.7L12,13.237L8.538,16.7L7.3,15.463L10.763,12L7.3,8.537L8.538,7.3L12,10.763l3.452-3.452l1.238,1.237L13.238,12z"
                  fill="#fff"
                  stroke="#fff"
                ></path>
              </svg>
            </span>
            <!---->
          </li-icon>
          <div class="artdeco-global-alert__responsive-container">
            <!---->
            <div class="artdeco-global-alert__responsive-content-container">
              <div class="artdeco-global-alert__content">
                Emails aren’t getting through to one of your email addresses.
                Please
                <a href="https://www.linkedin.com/psettings/email"
                  >update or confirm</a
                >
                your email.
                <a
                  href="https://www.linkedin.com/help/linkedin/answer/1048?trk=urlAlias&lang=en"
                  >More info</a
                >
              </div>
            </div>
            <!---->
          </div>
          <button class="artdeco-global-alert__dismiss">
            <li-icon
              class="artdeco-global-alert__icon artdeco-global-alert__icon--dismissed"
            >
              <span>
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  height="16"
                  width="16"
                >
                  <path
                    d="M13,4.32L9.31,8,13,11.69,11.69,13,8,9.31,4.31,13,3,11.69,6.69,8,3,4.31,4.31,3,8,6.69,11.68,3Z"
                    fill="#fff"
                  ></path>
                </svg>
              </span>
            </li-icon>
            <span class="a11y-text">dismiss</span>
          </button>
        </section>
      </div>
    </div>

    <article
      class="relative pt-1.5 px-2 pb-0 bg-color-background-container papabear:container-lined mamabear:container-lined main-feed-activity-embed-card papabear:min-h-[calc(100vh_-_76px_-_50px)] max-w-[100vw] min-h-[100vh]"
      data-activity-urn="urn:li:activity:6898694773406875648"
    ></article>
  </body>
</html>
