* {
  font-family: 'Heebo';
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  max-width: 100%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  box-sizing: inherit;
  position: relative;
  margin: 0;
  min-height: 100vh;
  max-width: 100%;
  padding-bottom: 20rem;
}

/* Shannon blue #37b7ff */

button.primary-btn {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  background-color: #ced7e0;
}

/* # button component */

.btnComponent {
  height: 40px;
  width: 200px;
  background: linear-gradient(45deg, #03a9f4 0%, #dddddd 100%);
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.75);
}

/* # top Nav */

nav {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #fff;
  padding: 0 100px;
  border-top: 1px solid #000;
  box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.75);
}

/* # social media icons in nav */

nav svg {
  padding: 5px;
  height: 60px;
}

nav svg:hover {
  width: 45px;
}

nav h3 {
  font-weight: bold;
  font-size: 30px;
}

/* # bottom nav */

nav .nav-links-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 80%;
  height: 40px;
  list-style: none;
  padding-bottom: 0;
  background-color: #37b7ff;
  margin: 90px 100px 0 0;
  border-radius: 10px;
  box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.75);
}

@keyframes fadeIn {
  5% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

nav .nav-links span {
  margin: 10px;
  font-size: 20px;

  color: #000;
  margin-bottom: 5px;
  cursor: pointer;
}

nav .nav-links span:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 3px;
}

nav .nav-links a {
  text-decoration: none;
}
/* # Header */

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

header img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

header .header-text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80%;
}

header .header-text-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header .header-text-container h2 {
  font-size: 50px;
  color: #37b7ff;
}

header .header-text-container p {
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}

/* # social media feed */

.social-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}

.socials-btn {
  background-color: #37b7ff;
  width: 600px;
  height: 60px;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.43);
  cursor: pointer;
}

.social-feed-container {
  display: grid;
  justify-content: center;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 375px));
  grid-template-rows: repeat(auto-fit, minmax(100px, 375px));
  /* grid-template-columns: 335px 335px 335px;
  grid-template-rows: 375px 375px; */
}

.social-feed-container .tt-embedded {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.social-feed-container .ig-embedded {
  grid-column-start: 2;
  grid-row-start: 2;
}

.social-feed-container .li-embedded {
  grid-column-start: 1;
  grid-row-start: 2;
}

/* ? not sure which class to target from the embeds to style the scrollbar */

.li-embedded::-webkit-scrollbar-thumb {
  background-color: #37b7ff; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid black; /* creates padding around scroll thumb */
}

.li-embedded::-webkit-scrollbar-track {
  background-color: #03a9f4; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid black; /*creates padding around scroll thumb */
}

.li-embedded ::-webkit-scrollbar {
  background-color: #37b7ff; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}

/* ? ================================ */

/* # contact form */
.contact-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
  gap: 10px;
}
.contact-form-container form {
  width: 50%;
  gap: 10px;
}

.contact-form-container h2 {
  text-align: center;
}

.contact-form-container {
  text-align: center;
}

.contact-form-container input {
  width: 300px;
  height: 20px;
  border: none;
  margin: 5px 0;
  background-color: #f3ede3;
}

.contact-form-container textarea {
  width: 300px;
  height: 50px;
  border: none;
  margin: 5px 0;
  outline: none;
  resize: none;
  overflow: auto;
  background-color: #f3ede3;
}

.contact-btn {
  width: 300px;
  height: 30px;
  border-radius: 8px;
  border: 0;
  background-color: #f3ede3;
  box-shadow: 1px -1px 14px -3px rgba(0, 0, 0, 0.67) inset;
  -webkit-box-shadow: 1px -1px 14px -3px rgba(0, 0, 0, 0.67) inset;
  -moz-box-shadow: 1px -1px 14px -3px rgba(0, 0, 0, 0.67) inset;
  font-weight: 700;
}

.contact-btn:hover {
  background-color: #ced7e0;
}

.testimonial-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.feedback h1 {
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

/* # blog */

.posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 50px;
  margin-top: 150px;
  padding: 10px;
  height: 90%;
  width: 100%;
}

.posts {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 200px;
  border-radius: 30px;
  padding: 50px;
  background: linear-gradient(45deg, #e0ffff, #d3e3f3);
}

.posts h2 {
  font-weight: bold;
  color: #03a9f4;
  background-image: -webkit-linear-gradient(45deg, #03a9f4 0%, #dddddd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.posts p {
  margin-top: 20px;
  font-size: 16px;
}

/* # post page */

.post-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  padding: 30px;
  color: #fff;
  background-color: #000;
  overflow: hidden;
}

.post-container img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  align-self: center;
}

.post-author {
  align-self: center;
  color: #03a9f4;
  background-image: -webkit-linear-gradient(45deg, #03a9f4 0%, #dddddd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.post-title {
  align-self: center;
  font-size: 50px;
  font-weight: 700;
  color: #03a9f4;
  background-image: -webkit-linear-gradient(45deg, #03a9f4 0%, #dddddd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.post-body {
  font-size: 20px;
}

/* # Create post  */

.create-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-post-container .create-post-title {
  margin: 10px;
  height: 30px;
  width: 400px;
}

.create-post-container .create-post-body {
  margin: 10px;
  height: 400px;
  width: 400px;
}

/* # testimonials */

.testimonial {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  background-color: #ced7e0;
  border: 1px solid #f3ede3;
  border-radius: 20px;
}

.testimonial p {
  margin: 0 25px;
  font-weight: 700;
  font-size: 20px;
}

/* # footer */

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #37b7ff;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 200px;
  box-shadow: 0px -6px 8px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -6px 8px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -6px 8px -1px rgba(0, 0, 0, 0.75);
}

footer .footer-address {
  justify-self: center;
  margin-left: 20px;
  width: 100%;
}

footer .footer-links {
  justify-self: center;
}

footer .footer-links ul {
  list-style: none;
}

footer .footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  justify-self: center;
  align-self: center;
}
footer .footer-socials svg {
  padding: 5px;
  margin: 0;
}
