* {
  font-family: 'Heebo';
}

body {
  margin: 0;
  padding: 0;

  background-color: #f3ede3;
}

button.primary-btn {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  background-color: #ced7e0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  height: 60px;
  background-color: #ced7e0;
  padding: 0 100px;
  border-bottom: 2px solid #000;
  box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.75);
}

nav svg {
  padding: 5px;
  height: 60px;
}

header {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header p {
  font-weight: 700;
  font-size: 30px;
  width: 500px;
}

header img {
  width: 400px;
  height: auto;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #708aa6;
  margin-top: 200px;
  width: 100%;
  height: 300px;
  box-shadow: 0px -6px 8px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -6px 8px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -6px 8px -1px rgba(0, 0, 0, 0.75);
}

.contact-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
  gap: 10px;
}
.contact-form-container form {
  width: 50%;
  gap: 10px;
}

.contact-form-container h2 {
  text-align: center;
}

.contact-form-container input {
  width: 300px;
  height: 20px;
  border: none;
  margin: 5px 0;
  background-color: #f3ede3;
}

.contact-form-container textarea {
  width: 300px;
  height: 50px;
  border: none;
  margin: 5px 0;
  outline: none;
  resize: none;
  overflow: auto;
  background-color: #f3ede3;
}

.contact-btn {
  width: 300px;
  height: 30px;
  border-radius: 8px;
  border: 0;
  background-color: #f3ede3;
  box-shadow: 1px -1px 14px -3px rgba(0, 0, 0, 0.67) inset;
  -webkit-box-shadow: 1px -1px 14px -3px rgba(0, 0, 0, 0.67) inset;
  -moz-box-shadow: 1px -1px 14px -3px rgba(0, 0, 0, 0.67) inset;
  font-weight: 700;
}

.contact-btn:hover {
  background-color: #ced7e0;
}

.testimonial-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.feedback h1 {
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.testimonial {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  background-color: #ced7e0;
  border: 1px solid #f3ede3;
  border-radius: 20px;
}

.testimonial p {
  margin: 0 25px;
  font-weight: 700;
  font-size: 20px;
}

.social-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}
